.div_menu {
  background-color: black;
  font-family: "TImes New Roman";
  text-transform: uppercase;
}
.menu {
  color: white;
}
.slider-div {
  /* text-align: center; */
  margin-top: 10px;
  margin-left: 20px;
}
p {
  text-align: justify;
}
footer {
  background-color: black;
}
.footer {
  color: white;
  text-align: center;
}
.footer-alamat {
  color: white;
  text-align: center;
}
